@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
 background-color: #ddd;
}

.anilmals {
  justify-content: space-between;
  width: 100%;
}

.card {
  background-color: #fff;
  border: none;
  min-width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgb(0 0 0 / 50%);
}

.dead-animation {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.card .banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 116px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.card .name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
  font-size: 20px;
  margin-top:10px;
}

#healthtitle{
	 font-size: 12px;
}

.card .actions {
  display: flex;
  flex-direction: column;
  order: 99;
}

.card .actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
}

.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  font-size: 20px;
  transition: background-color 100ms ease-in-out;
}

.card .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}

.card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}

.card .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}

.card .actions .follow-info h2 a:hover span {
  color: #007ad6;
}

.card .actions .follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #ffd01a;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .actions .follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}

.card .actions .follow-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}

.card .actions .follow-btn-danger button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #fa867e;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .actions .follow-btn-danger button:hover {
  background-color: #fa867e;
  transform: scale(1.1);
}

.card .actions .follow-btn-danger button:active {
  background-color: #fa867e;
  transform: scale(1);
}

.card .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}

#bottomdiv{
	box-shadow: 10px 10px 22px #2a2a2c;
    background: #dff0d8;
    position: fixed;
    bottom: 0px;
}